// Large mobile friendly nav panel to left or right of screen
.nav-panel {
  position: fixed;
  //display: none;

  transition: left $transition-duration-long ease-out, right $transition-duration-long ease-out;

  box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
  color: $color-fg;
  height: 100vh;
  max-width: 80%;
  overflow-y: auto;
  overflow-x: hidden;

  padding: 4rem 1rem;
  top: 0;
  width: $nav-width;
  z-index: 97;
  flex-direction: column;
  text-align: center;

  .title {
    display: inline-flex;
  }

  ul {
    li {
      margin-left: 0;
    }
  }

  // main mobile menu
  &.nav-right {
    transition: right $transition-duration-long ease-in;
    right: -$nav-width * 2;
    background: $color-bg;

    ul {

      min-height: 50rem;

      li {
        padding-top: 1rem;
        a {
          border-bottom: 0;
          display: inline-block;
          color: black;
          font-family: $font-family-heading;
          font-weight: $font-weight-heading;
          letter-spacing: 0.075em;
          padding: 0.75rem 0;
        }

      }
    }
  }

  // TOC and Search menu
  &.nav-left {
    left: -$nav-width * 2;
    background-color: $color-fg-light;
    z-index: 97;
    padding-top: 2rem;
    bottom: 0;

    font-weight: bold;

    transition: left $transition-duration-long ease-in;

    text-align: left;

    h3 {
      color: silver;
      text-align: center;
    }

    @media ($medium) {
      top: 0;
      padding-top: 2rem;
    }
  }

  ul {
    list-style: none;
    text-align: inherit;
    padding: 0;
    margin: 0;
    width: 100%;

    li {

    }
  }

  form {
    margin: 2rem 0;
    * {
      margin-bottom: 1rem;
    }
  }

}
