.search-inner-links {

  width: 90%;

}

.search {
  position: relative;
  color: white;

  width: 90%;
  padding: 0 1rem 1rem 0.5rem;
  display: flex;
  align-items: center;

  .icon {
    width: 2em;
    height: 2em;
    padding-right: 0.5rem;
  }
}

.search-results {

  margin-bottom: 3rem;
  padding-top: 1rem;
  padding-bottom: 4rem;

  &:empty { display: none; }

}

.search-highlight {
  background-color: rgba(255, 255, 0, 0.75);
  color: black !important;
  border-radius: 6px;

  &:before {
    content: "";
    display: inline-block;
    margin: -7em 0 0 0;
    height: 7em;
    pointer-events: none;
  }
}