#file-upload-form {
  position: absolute;
  left: 50%;
  top: 40%;
  width: 90%;
  transform: translate3d(-50%, -50%, 0);
  text-align: center;
  transition: border 1.5s ease-in-out;

  a {
    transition: color $transition-duration ease-in-out;
    color: mix($color-accent, black, 80%);

    &:hover {
      transition: color $transition-duration ease-in-out;
      color: $color-accent !important;
    }
  }

  p {
    margin: 0 auto 0.5em auto;
    text-align: center;
    color: $color-bg;
  }

}

.upload-button {
  transition: background-color $transition-duration ease-in-out;
  max-width: 70%;
  min-width: 50%;
  margin-top: 0.5em;
  white-space: normal;
  color: black;
  border: 0;
  box-shadow: 0;

  font-weight: $font-weight-bold;

  background-color: mix($color-accent, black, 80%);
  border-radius: 12px;

  &:hover {
    transition: background-color $transition-duration ease-in-out;
    background-color: $color-accent;
    color: unset;
  }
}
