.left-panel {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  background-color: $color-bg-invert !important;
  padding-top: 3rem !important;


  >label {

    flex: 1;
    height: 1rem;
    border: 1px solid grey;
    color: $color-fg-light;
    background: silver;
    padding: 0.25rem;
    text-align: center;
    z-index: 99;
    line-height: 1.5;
    margin: 0;

    &:hover {
      transition: color $transition-duration ease-in-out, border $transition-duration ease-in-out;
      color: $color-accent;
      border: 1px solid $color-accent;
    }

    &:first-of-type {
      margin-left: 0.25rem;
    }

    &:last-of-type {
      margin-right: 0.25rem;
    }
  }

  .subsection {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0.5rem 0.25rem;
    padding: 0.25rem;
  }

}

.section-trigger {
  visibility: hidden;
  display: none;
}
