html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

html {
  min-width: 320px;
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;
}

body {
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  min-width: 320px;
  overflow-x: hidden;
  font-size: calc(16px + (18 - 16) * ((100vw - 400px) / (1200 - 400)));
  // line-height: calc(1.3em + (1.75 - 1.3) * ((100vw - 400px)/(1200 - 400)));
  background-color: black;
}
