.dark-box {
  width: $code-width;
  background-color: $color-bg-invert;
  position: fixed;
  height: 100vw;
  right: 0;

  @media ($medium) {
    display: none;
    width: 0;
    height: 0;
    visibility: hidden;
  }

}