.inline-threejs-scene {
  height: 50vh;

  margin-right: calc(42% + 2rem);
  margin-left: auto;
  margin-bottom: 3rem;

  max-width: $text-max-width - 1rem;
  min-height: 25rem;
  padding: 0;
  border-radius: 6px;
  position: relative;

  &.banner {
    canvas {
      border-radius: 50%;
    }
  }

  canvas {
    border-radius: 6px;
    border: 1px solid silver;
    box-shadow: 1px 1px 10px 1px silver;
    width: 100%;
    height: 100%;
  }

  .label {
    color: #FFF;
    padding: 0.25rem;
    border-radius: 3px;
    margin-top: -1rem;
    background: rgba(0, 0, 0, 0.6);
  }

  @media ($medium) {
    margin-right: auto;
  }

  @media ( $small ) {
    padding: 0;
  }
}