.fade-summary {

  height: 15rem;
  top: -18rem;
  margin-bottom: -18rem;
  width: 100%;
  position: relative;
  z-index: 3;
  background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);

}

.restricted-area-notice {
  text-align: center;
  font-weight: bolder;

  padding: 0 0 5rem 0;

  h2 {
    padding-top: 0;
    margin-top: 2rem;
    border: 0;
  }

}
