@import "./settings";
// @import './vendor/water';

// TODO: should import vendor stuff last (verify it that's useful)
// but codemirror styles get overridden
@import "./vendor/codemirror/codemirror";

@import "./components/base";
@import "./components/controls";
@import "./components/scrollbars";
@import "./components/button";
@import "./components/form";
@import "./components/wrapper";
@import "./components/blockquote";
@import "./components/section";
@import "./components/main";
@import "./components/text";
@import "./components/table";
@import "./components/lists";
@import "./components/links";
@import "./components/icon";
@import "./components/figure";
@import "./components/code";
@import "./components/highlights";
@import "./components/sideMenu";
@import "./components/topNav";
@import "./components/orientation";
@import "./components/ide";
@import "./components/inlineScene";
@import "./components/content";
@import "./components/pagination";
@import "./components/aside";
@import "./components/leftMenu";
@import "./components/toc";
@import "./components/rightMenu";
@import "./components/panels";
@import "./components/updateBanner";
@import "./components/languageSwitcher";

@import "./components/utils";

// import last to overwrite style
@import "./components/inverted";

@import "./vendor/custom/prism/prism";
@import "./vendor/katex";
@import "./vendor/es6-tree";
@import "./vendor/codemirror/dialog";
@import "./vendor/codemirror/foldgutter";
@import "./vendor/codemirror/fullscreen";
@import "./vendor/codemirror/matchesonscrollbar";
@import "./vendor/codemirror/show-hint";
@import "./vendor/simple-toggle";

// testing

// .orientation {
//   .portrait {
//     @media screen and (orientation: landscape) {
//       display: none;
//     }
//   }

//   .landscape {
//     @media screen and (orientation: portrait) {
//       display: none;
//     }
//   }
// }
