{{- $paginator := (.Pages).ByWeight  -}}

<section class="table-of-contents-large">
  <nav>
    <h2>Coming Up in this Section</h2>
    <ul class="contents">

    {{- range $paginator -}}
      {{- if not .Params.excludeFromTOC -}}
        <li class="{{ if not .Params.available }}unavailable {{ end }}{{ if .Params.SectionHead }}featured{{ end }}">
          <span class="chapter-number">{{ .Params.Chapter }}</span>
          {{- if and (not .Params.available) (not .Params.summaryAvailable) -}}
            <span data-url="{{ .Permalink | replaceRE "[^/]*$" "" }}">{{ .Title }}</span>
          {{- else -}}
            <a href="{{ .Permalink | replaceRE "[^/]*$" "" }}" title="{{ .Title }}">{{ .Title }}</a>
          {{- end -}}
        </li>
      {{- end -}}
    {{- end -}}
    </ul>
  </nav>
</section>