<nav class="side-menu right-menu">
  <h2>
    <a href="/">
      <img
        alt="Discover three.js logo"
        width="100%"
        src="/static/images/logo/banner_trans_512.png"
      />
    </a>
  </h2>
  <ul class="links" style="text-align: center">
    <li><a href="/book/contents/">Table Of Contents</a></li>
    <li><a href="/tips-and-tricks/">Tips and Tricks</a></li>

    <li style="margin: auto">
      <a href="/#mailing-list-signup" class="internal-link"
        >Stay up to date - sign up to the mailing list!</a
      >
    </li>
  </ul>
</nav>