TODO! Work in progress: replacing main page and /contents list with new one with collapsible panels

<section class="table-of-contents-large">
  <nav>
    <h2>Coming Up in this Section</h2>
    <ul class="contents">
      {{ range .Site.Sections }}
        {{ range .Sections }}
          <li class="{{ if not .Params.available }}unavailable {{ end }}section-head">
            <span class="chapter">{{ if .Params.chapter }}{{ .Params.chapter }}{{ end }}:</span>
            {{- if and (not .Params.available) (not .Params.summaryAvailable) -}}
              <span>{{ .Title }}</span>
            {{- else -}}
              <a href="{{ .Permalink | replaceRE "[^/]*$" "" }}" title="{{ .Title }}">{{ .Title }}</a>
            {{- end -}}
            <summary><br><br>
              <details closed><br>
                {{ range (.Pages).ByWeight }}
                <li class="{{ if not .Params.available }}unavailable {{ end }}">
                  <span class="chapter">{{ if .Params.chapter }}{{ .Params.chapter }}{{ end }}:</span>
                  {{- if and (not .Params.available) (not .Params.summaryAvailable) -}}
                    <span>{{ .Title }}</span>
                  {{- else -}}
                    <a href="{{ .Permalink | replaceRE "[^/]*$" "" }}" title="{{ .Title }}">{{ .Title }}</a>
                  {{- end -}}
                </li>
                {{ end }}
              </details>
            </summary>
          </li>
      {{ end }}
    {{ end }}
    </ul>
  </nav>
</section>