{{/*
  links and favicons
*/}}

<link
  rel="canonical"
  href="{{ .Permalink }}"
/>

<link rel="shortcut icon" type="image/png" href="/favicon.ico?v={{ now.Unix }}" />

<link
  rel="apple-touch-icon"
  sizes="180x180"
  href="/apple-touch-icon.png?v={{ now.Unix }}"
/>

<link
  rel="icon"
  type="image/png"
  sizes="16x16"
  href="/favicon-16x16.png?v={{ now.Unix }}"
/>
<link
  rel="icon"
  type="image/png"
  sizes="32x32"
  href="/favicon-32x32.png?v={{ now.Unix }}"
/>

<link rel="manifest" href="/site.json?v={{ now.Unix }}" />
<link rel="mask-icon" href="/safari-pinned-tab.svg?v={{ now.Unix }}" color="#5bbad5" />
