    <!-- <link rel="preconnect" href="https://www.google.com" crossorigin /> -->
    <!-- <link rel="preconnect" href="https://www.gstatic.com" crossorigin> -->
    <!-- <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin /> -->
    <!-- <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin> -->

    <!-- <link
      rel="preload"
      as="font"
      type="font/woff2"
      href="https://fonts.gstatic.com/s/varelaround/v12/w8gdH283Tvk__Lua32TysjIfp8uP.woff2"
      crossorigin
    />

    <link
      rel="preload"
      as="font"
      type="font/woff2"
      href="https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFVZ0b.woff2"
      crossorigin
    />

    <link
      rel="preload"
      as="font"
      type="font/woff2"
      href="https://fonts.gstatic.com/s/robotomono/v7/L0x5DF4xlVMF-BfR8bXMIjhLq38.woff2"
      crossorigin
    /> -->

    <!-- <link rel="preload" as="font" type="font/woff2"
  href="https://cdn.jsdelivr.net/npm/katex@0.11.1/dist/fonts/KaTeX_Main-Regular.woff2" crossorigin> -->

    <!-- <link rel="preload" as="script" href="/examples/vendor/three/build/three.module.js" crossorigin> -->

    <!-- <link rel="preload" as="script" href="/examples/vendor/three/examples/jsm/controls/OrbitControls.js" crossorigin> -->

    <!-- <link rel="preload" as="script" href="/examples/vendor/three/examples/jsm/loaders/GLTFLoader.js" crossorigin> -->

    <!-- <link rel="preload" as="image" href="/examples/assets/textures/sprites/spark1.png" crossorigin> -->

    <!-- <link rel="preload" as="fetch" href="/examples/assets/models/Horse.glb" crossorigin> -->

    <!-- <link rel="preload" as="fetch" href="/examples/assets/models/Parrot.glb" crossorigin> -->