<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "WebPage",
    "image": "https://discoverthreejs.com/images/logo.png",
    "mainEntity": {
      "@type": "Book",
      "author": {
        "@type": "Person",
        "name": "Lewy Blue",
        "jobTitle": "Author",
        "url": "https://twitter.com/lewy_blue"
      },
      "about": "",
      "copyrightHolder": "https://discoverthreejs.com",
      "copyrightYear": "2021",
      "bookFormat": "http://schema.org/EBook",
      "datePublished": "2018-10-01",
      "image": "https://discoverthreejs.com/images/logo.png",
      "inLanguage": "English",
      "name": "Discover three.js",
      "genre": "Education",
      "keywords": "threejs webgl animation javascript es6 education tutorials blog ebook",
      "publisher": {
        "@type": "Organization",
        "name": "https://discoverthreejs.com",
        "logo": {
          "@type": "ImageObject",
          "url": "https://discoverthreejs.com/images/logo.png"
        }
      }
    }
  }
</script>