body {
  &.full-width {

    height: 100vh;
    overflow: hidden;

    main {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      overflow: hidden;

      p {
        max-width: 90%;
      }
    }

    #container,
    .container {
      position: absolute;
      width: 100%;
      height: 100%;
    }

    .canvas-overlay {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      z-index: 50;
      pointer-events: none;

      button,
      p {
        pointer-events: all;
        text-align: center;
      }

      button:focus{

        outline: 0;

      }
    }

    #loading-overlay {
      // height: 100%;
      // top: 0;
      max-height: 30rem;
      max-width: 40rem;
      width: auto;
      padding: 2rem;

      @media (min-width: 900px) {
        margin-top: -5rem;
      }
    }

    #controls-overlay {
      width: auto;
      right: 1rem;
      top: 4rem;
    }
  }
}