{{/*
  Section heading page.
  This page is nearly the same as a standard book page but it includes a short table of contents
  describing upcoming chapters in the section.

  TODO: sitemap is broken
*/}}

<!DOCTYPE html>
<html dir="ltr" lang="{{ .Lang }}">
  <head>
    <title>{{ .Title }} | Discover three.js</title>
    {{- partialCached "head/meta.html" . .Params.noFollow .Params.Title .Params.Description -}}
    {{- partialCached "head/schema.html" . -}}
    {{- partialCached "head/links.html" . .Permalink -}}
    {{- partialCached "head/chapter-styles.html" . -}}
    {{- partialCached "head/noscript-styles.html" . -}}
    {{- partialCached "head/preload.html" . -}}
    {{- partial "chapterScript.html" . -}}
  </head>
  <body class="loading-page">
    {{- partial "topNav.html" . -}}
    <div class="wrapper orientation-auto">
      <main class="panel animate">
        <div class="scroller">
          <div class="content">
            {{ if .Params.available }}{{ .Content  }}{{ end }}
            {{- partial "sectionTOC.html" . .Section -}}
            </div>
        </div>
      </main>
    </div>
    {{- partial "leftMenu.html" . -}}
    {{- partialCached "rightMenu.html" . -}}
    {{- partialCached "fonts.html" . -}}
  </body>
</html>
