<!DOCTYPE html>
<html dir="ltr" lang="en">
  <head>
    <title>{{ .Title }} | Discover three.js</title>
    {{- partialCached "head/meta.html" . .Params.noFollow .Params.Title .Params.Description -}}
    {{- partialCached "head/schema.html" . -}}
    {{- partialCached "head/links.html" . .Permalink -}}
    <style>
      .loading-page {
        display: none;
      }
    </style>

    <link href="/css/chapters.min.css?v={{ now.Unix }}" rel="stylesheet" />

    <noscript>
      <style>
        .loading-page {
          display: block;
        }
      </style>
      <link href="/css/noscript.min.css?v={{ now.Unix }}" rel="stylesheet" />
    </noscript>
    {{- partialCached "head/preload.html" . -}}
    {{- partial "chapterScript.html" . -}}
  </head>
  <body class="loading-page">
    {{- partial "topNav.html" . -}}
    <div class="wrapper orientation-auto">
      <main class="panel animate">
        <div class="scroller">
          <div class="content">
            {{ if .Params.available }}{{ .Content  }}{{ end }}
            {{- partial "sectionTOC.html" . .Section -}}
            </div>
        </div>
      </main>
    </div>
    {{- partial "leftMenu.html" . -}}
    {{- partialCached "rightMenu.html" . -}}
    {{- partialCached "fonts.html" . -}}
  </body>
</html>
