<!DOCTYPE html>
<html dir="ltr" lang="en">
  <head>
    <title>{{ .Title }} | Discover three.js</title>
    {{- partial "head/meta.html" . -}}
    {{- partial "head/schema.html" . -}}
    {{- partial "head/links.html" . -}}
    <style>
      .loading-page {
        display: none;
      }
    </style>

    <link href="/static/css/chapters.min.css?v=44" rel="stylesheet" />

    <noscript>
      <style>
        .loading-page {
          display: block;
        }
      </style>
      <link href="/static/css/noscript.min.css?v=44" rel="stylesheet" />
    </noscript>
    {{- partial "head/preload.html" . -}}
    {{- partial "chapterScript.html" . -}}
  </head>
  <body class="loading-page">
    {{- partial "topNav.html" . -}}
    <div class="wrapper orientation-auto">
      <main class="panel animate">
        <div class="scroller">
          <div class="content">
            {{ if .Params.available }}{{ .Content  }}{{ end }}
            </div>
        </div>
      </main>
    </div>
    {{- partial "leftMenu.html" . -}}
    {{- partial "rightMenu.html" . -}}
    {{- partial "fonts.html" . -}}
  </body>
</html>
