{{/*
  Standard chapter page.
  TODO:  move this page into layouts/jumbo since it uses that format
  TODO: the language switcher isn't showing up here for some reason
*/}}


<!DOCTYPE html>
<html dir="ltr" lang="{{ .Lang }}">
  <head>
    <title>{{ .Title }} | Discover three.js</title>
    {{- partialCached "head/meta.html" . .Params.noFollow .Params.Title .Params.Description -}}
    {{- partialCached "head/schema.html" . -}}
    {{- partialCached "head/links.html" . .Permalink -}}

    {{ $options := (dict "targetPath" "styles/jumbo.css" "outputStyle" "compressed" ) }}
    {{ $style := resources.Get "scss/apps/jumbo/main.scss" | toCSS $options | postCSS }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}?v={{ now.Unix }}">

    <noscript>
      {{ $optionsNS := (dict "targetPath" "styles/noscript.css" "outputStyle" "compressed" ) }}
      {{ $style := resources.Get "scss/noscript.scss" | toCSS $optionsNS | postCSS | minify }}
      <link rel="stylesheet" href="{{ $style.RelPermalink }}?v={{ now.Unix }}">
    </noscript>
  </head>

  <body>
    {{- partial "jumbo/nav.html" . -}}
    <div class="wrapper">
      {{- partialCached "jumbo/header.html" . -}}
      <main>
        {{ .Content  }}
        <nav class="table-of-contents-large">
          <div style="text-align: right; margin-right: 2rem;">
            Also available in:
              {{ range .Translations }}
              <a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
              {{ end}}
            </div>
          {{- partial "toc.html" . -}}
        </nav>
      </main>
      {{- partialCached "jumbo/footer.html" . -}}
    </div>

    {{- partialCached "fonts.html" . -}}
  </body>
</html>
