<!DOCTYPE html>
<html dir="ltr" lang="en">
  <head>
    <title>{{ .Title }} | Discover three.js</title>
    {{- partialCached "head/meta.html" . .Params.noFollow .Params.Title .Params.Description -}}
    {{- partialCached "head/schema.html" . -}}
    {{- partialCached "head/links.html" . .Permalink -}}
    <style>
      .loading-page {
        display: none;
      }
    </style>

    <link href="/css/chapters.min.css?v={{ now.Unix }}" rel="stylesheet" />

    <noscript>
      <style>
        .loading-page {
          display: block;
        }
      </style>
      <link href="/css/noscript.min.css?v={{ now.Unix }}" rel="stylesheet" />
    </noscript>
    {{- partialCached "head/preload.html" . -}}
    {{- partial "chapterScript.html" . -}}
  </head>
  <body class="loading-page">
    {{- partial "topNav.html" . -}}
    <div class="wrapper orientation-auto">
      <main class="panel animate">
        <div class="scroller">
          <div class="content">
            {{ if ne .Params.hideWordCount true }}
              <div class="chapter-info">Word Count: {{- .WordCount -}}, reading time: ~{{- .ReadingTime -}}minutes</div>
            {{ end }}
            {{ .Content }}
            <div class="bottom-pagination">
              {{- partial "pagination.html" . -}}
            </div>
          </div>
        </div>
      </main>
      {{- partialCached "ideHTML.html" . -}}
    </div>
    {{- partial "leftMenu.html" . -}}
    {{- partialCached "rightMenu.html" . -}}
    {{- partialCached "fonts.html" . -}}
  </body>
</html>
