<!DOCTYPE html>
<html dir="ltr" lang="en">
  <head>
    <title>{{ .Title }} | Discover three.js</title>
    {{- partialCached "head/meta.html" . .Params.noFollow .Params.Title .Params.Description -}}
    {{- partialCached "head/schema.html" . -}}
    {{- partialCached "head/links.html" . .Permalink -}}
    <link href="/css/jumbo.min.css?v={{ now.Unix }}" rel="stylesheet" />

    <noscript>
      <style>
        .loading-page {
          display: block;
        }
      </style>
      <link href="/css/noscript.min.css?v={{ now.Unix }}" rel="stylesheet" />
    </noscript>
  </head>
  <body>
    {{- partialCached "jumbo/nav.html" . -}}
    <div class="wrapper">
      {{- partialCached "jumbo/header.html" . -}}
      <main>
        <main>
          <section>
            {{ .Content }}
          </section>
        </main>
      </main>
      {{- partialCached "jumbo/footer.html" . -}}
    </div>
    {{- partialCached "fonts.html" . -}}
  </body>
</html>
