// JS
.inner-toc  {

  text-transform: none;

  li {
    margin-right: 0.25rem;

    &.header-2 {
      width: 95%;
      border-bottom: 1px solid rgba(192, 192, 192, 0.75);
    }

    &.header-3 {

      margin-left: 0.5rem;
      width: 90%;
      border-bottom: 1px solid rgba(192, 192, 192, 0.5);
    }

    &.header-4 {
      margin-left: 1rem;
      width: 85%;
      border-bottom: 1px solid rgba(192, 192, 192, 0.25);
    }
  }

}

// JS
.toc-header-visible {
  transition: background-color 1s ease-in-out;
  background-color: #2E3336;
  padding: 0.5rem 0 0.5rem 0.5rem !important;
  border-radius: 4px;
  width: calc( 95% - 0.5rem) !important;

  a,
  span {
    transition: color $transition-duration-long ease-in-out;
    color: $color-accent !important;
  }
}

.toc-active,
.search-active  {
  flex-direction: row;
  flex-wrap: wrap;
  background: $color-fg-light;
  border-radius: 3px;
  margin-top: 0.25rem;
  margin-bottom: 1rem;

  div {
    width: 95%;
    padding: 0.25rem 0;
  }
}

.toc-active-icon {
  padding-right: 0.5rem;
  max-width: 1rem;
  color: $color-accent;

  ~ span, ~li {
    color: $color-accent !important;
  }

}

.toc {
  ul li {

    font-size: 85%;

  }

  .unavailable {

    a {
      color: rgb(128, 128, 128) !important;
      &:hover {
        color: #577d89 !important;
      }

    }
  }
}




.toc,
.search-results {

  padding: 0.25rem 0 6rem 1rem;
  background-color: $color-bg-invert;
  height: auto;

  code {
    border-radius: 6px;
    border: solid 1px darkgrey;
    padding: 0.1rem 0.25rem;
    background-color: transparent;
  }

  > ul {

    display: flex;
    flex-direction: column;
    padding: 0;
    width: 100%;

    list-style: none;
    margin: auto;

    li,
    div {

      display: flex;
      max-width: 90%;
      align-items: center;

      padding: 0.25em;
      border-bottom: 1px dotted rgba( 150,150,150,0.25);

      a,
      span {
        text-decoration: none;
        color: silver;
        flex-shrink: 1;
        flex-grow: 0;
        flex-basis: 90%;
      }

      a:hover { text-decoration: underline; }

      &.section-head {
        padding-top: 0.5rem;
        border-top: 1px solid silver;
        text-transform: uppercase;

        &>a {
          color: white;
        }

      }

      &.unavailable {
        span {
          color: grey;
        }
      }

      .chapter {
        flex: 1;
        color: white;
        text-align: right;
      }

    }
  }
}
