<aside class="success preorder-banner">
  <div class="panels">
    <div class="spacer">
    </div>
    <div class="author-message">
      <h3 class="no-anchor" id="cta" style="text-shadow: none; color: black; text-align:center;">
        <strong>Support Discover three.js!</strong>
      </h3>
      <img class="portrait" src="/static/images/about/portrait-color.jpg" alt="Portrait of the author">
      <p>
        Writing this book is a labor of love for me, and takes a huge chunk of my time. My savings are fading fast, so I can't spend nearly as much time writing as I want to.
      </p>
      <p>
        If you're finding the book useful I'd like to ask for your support. I will put any money donated here towards writing the book.
      </p>
    </div>
  </div>

  <ul style="list-style-type: none;">
    <li>{% include 'partials/icons/regular/smile.svg' %} $3: a coffee.</li>
    <li>{% include 'partials/icons/regular/laugh-beam.svg' %} $6: coffee and a cookie.</li>
    <li>{% include 'partials/icons/regular/grin-stars.svg' %} $30: a tasty dinner.</li>
    <li>{% include 'partials/icons/regular/grin-hearts.svg' %} $60: help pay my rent.</li>
  </ul>

  <script defer type="text/javascript" src="https://transactions.sendowl.com/assets/sendowl.js"></script>

  <a class="button" href="https://transactions.sendowl.com/products/78382751/CDE213ED/add_to_cart" rel="nofollow">Click here to support me :)</a>

  <p class="terms"><em>Payments are handled by <a style="color:grey;" href="https://www.sendowl.com/" target="_blank" rel="noopener noreferrer nofollow">SendOwl</a>.<br>VAT will be added for EU customers.</em></p>

  <!-- <div class="author-message">
    <p>
      <a href="/#mailing-list-signup">Sign up for the mailing list</a> and follow me on <a href="https://twitter.com/lewy_blue/">Twitter</a> for updates. If you have any feedback, or just want to say hi, <a href="/contact/">get in touch!</a> I'd love to hear from you.
    </p>
  </div> -->

</aside>
