.preorder-banner {
  border: 2px solid #8fbcd4;
  background: radial-gradient(circle, transparent 40%, black 75%),
    linear-gradient(to right, grey, grey),
    url(/static/images/logo.png);
  background-position: center center;
  background-size: cover;
  box-shadow: 3px 6px 14px 3px black;
  background-blend-mode: hue, overlay, normal;

  h1,
  h2,
  h3,
  li {
    color: white;
  }

  h2 {
    margin: 1rem 1rem 1.25rem;
    text-shadow: 5px 5px 2px black;
    font-size: 2.5rem;
  }

  h3 {
    text-shadow: 4px 4px 2px black;
    font-size: 1.9rem;
  }

  li {
    text-shadow: 3px 3px 2px black;
    font-size: 1.4rem;
    font-weight: bold;
  }

  ul {
    max-width: 35rem;
    margin-bottom: 2rem;
  }

  &.full-page {
    display: block;
    overflow: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 1px solid #545c61;
    border-radius: 6px;
    h1 {
      margin: 1rem 1rem 1.25rem;
      padding-bottom: 2rem;
      text-shadow: 5px 5px 2px black;
      font-size: 2.5rem;
    }

    h2 {
      text-shadow: 4px 4px 2px black;
      font-size: 1.9rem;
    }
  }

  .terms {
    color: grey;
    float: right;
    margin-bottom: 0;
  }

  .button {
    display: block;
    width: 50%;
    margin: 1rem auto;
    padding: 1rem;
    transition: background 0.2s ease-in-out,
      box-shadow 0.2s ease-in-out;
    text-align: center;
    color: #f4f4f4;
    border: 1px solid silver;
    border-radius: 6px;
    background: linear-gradient(to bottom, #5aabd6, #478598);
    box-shadow: 6px 4px 10px 5px black;

    text-shadow: 1px 2px 1px #030808;

    font-family: $font-family-heading;
    font-size: 1.5rem;
    font-weight: bold;
    &:hover,
    &:focus {
      color: #d0d0d0;
      background: linear-gradient(to bottom, #a0d2ec, #4f92a7);
      // box-shadow: 1px 9px 14px 5px black;
      text-shadow: 2px 2px 1px #030808;
    }
  }

  .panels {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 2rem;
    flex-wrap: wrap;

    .spacer {
      border-radius: 6px;
      flex-basis: 30%;
      flex-grow: 0;
      flex-shrink: 1;
    }
    .author-message {
      min-width: 30rem;
      margin: 1rem;
      padding: 1rem 0 0;
      border: 2px solid #8fbcd4;
      border-radius: 6px;
      background-color: rgba(252, 252, 252, 0.9);
      box-shadow: 11px 17px 20px 0px black;
      flex-basis: 55%;
      flex-grow: 2;
      flex-shrink: 1;

      @media ($small) {
        min-width: 100%;
        margin: 0;
        border-right: 0;
        border-left: 0;
        border-radius: 0;
      }

      a {
        &:hover,
        &:focus {
          color: #18bfef;
        }
      }

      p {
        margin-left: 0.5rem;
        color: black;
        font-size: 1.3rem;
      }

      img {
        float: left;
        width: 10rem;
        margin: 1rem;
        border: 2px solid silver;
        border-radius: 50%;
        box-shadow: 3px 3px 7px 0px black;

        @media ($small) {
          // float: unset;
          width: 6rem;
          margin: 0.5rem;
        }
      }
    }
  }
}
