.StripeElement {
  box-sizing: border-box;

  // height: 40px;

  padding: 10px 12px;
  // min-width: 30rem;

  border: 1px solid silver;
  border-radius: 6px;
  // background-color: lightblue;

  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}