<!-- Built-in highlight and line numbers -->
<!-- Index of file numbers start from 1, as most text editors work that way -->

<!-- START: Get Options -->
{{- $inner := .Inner | default "" -}}

{{- $from := sub ( int ( .Get "from" | default 1 ) ) 1 -}}
{{- $to := int ( .Get "to" | default 9999 ) -}}

{{- $file := .Get "file" | default "" -}}

{{- $header := .Get "header" | default "" -}}
{{- $footer := .Get "footer" | default "" -}}
{{- $caption := .Get "caption" | default "" -}}

{{- $lang := .Get "lang" | default "js" -}}

{{- $hl_lines := .Get "hl_lines" | default "" -}}
{{- $hl_linesOpts := printf "%s%s" "hl_lines=" $hl_lines -}}

{{- $linenostart := .Get "linenostart" | default (add $from 1) -}}

<!-- true gives "table" linenos -->
{{- $linenos := .Get "linenos" | default "true" -}}
<!-- END: Get Options -->

<!-- START: Format Options String -->
{{- $linenosOpts := printf "%s%s%s" "linenos=table,linenostart=" (string $linenostart) ","  -}}
{{- $opts := printf "%s%s" $linenosOpts $hl_linesOpts -}}
<!-- END: Format Options String -->

{{- if eq $linenos "true" -}}
<section class="highlight-wrapper {{ if ne $inner "" }}inline{{end}}">
{{- else -}}
<section class="highlight-wrapper hide-linenos {{ if ne $inner "" }}inline{{end}}">
{{- end -}}

{{- if ne $caption "" -}}
  <span class="caption">
    {{- $caption | markdownify -}}
  </span>
{{- end -}}

{{- if ne $inner "" -}}
  <!-- TODO-LOW: new line added here when $lang is set (replace $lang with "" to see difference) -->
  {{- highlight $inner $lang $opts -}}
{{- else -}}
  {{- $lines := ( split (readFile ( printf "%s%s" "examples/" $file )) "\n" ) -}}

  {{- $selectedLines := slice "" -}}

  {{- range $index, $line := first $to $lines -}}
  {{- if ge $index (sub $from 0) -}}
    {{- $selectedLines = $selectedLines | append ($line | safeHTML) ("\n" | safeHTML) -}}
  {{- end -}}
  {{- end -}}

  {{- $final := delimit $selectedLines "" -}}

  {{- $final := print $final ($footer | safeHTML ) -}}

  {{- highlight $final $lang $opts -}}
{{- end -}}

</section>