#back-to-top-button {
  align-self: flex-end;
  justify-self: flex-end;
  transition: margin-bottom 0.2s ease;
  z-index: 99;
  margin-right: 1rem;
  margin-bottom: -3rem;

  &.show {
    margin-bottom: 1.25rem;
  }

  &:hover,
  &:focus {
    label {
      border-color: $color-accent;
    }
    svg {
      color: $color-accent;
    }
  }

  label {
    transition: color 0.5s ease-in-out, border-color 0.5s ease-in-out;
    border: 3px solid silver;
    border-radius: 50%;
    // padding: 0.1rem 0.15rem 0.2rem 0.15rem;
    height: 2rem;
    text-align: center;
    color: silver;
    pointer-events: all;

    // width: 2rem;
  }
}
