aside {
  margin: 1.5rem 42% 1.5rem auto;
  padding-top: 1rem;
  background: $aside-notice-bg;

  border-radius: 6px;
  border: 1px solid silver;
  box-shadow: 1px 1px 10px 1px silver;

  code {
    background-color: rgba(255, 255, 255, 0.5);
  }

  figure {
    width: 100%;
    margin: 0;
    padding: 0 !important;
  }

  img {
    border: 0 !important;
    box-shadow: none !important;
  }

  a {
    &:hover {
      color: #ffffff !important;

      code {
        color: #c537ff !important;
      }
    }
  }

  h3,
  h4,
  h5,
  h6 {
    border: 0;

    &:first-child {
      margin-top: 1rem;
    }
  }

  p {
    &:last-child {
      margin-bottom: 0;
    }
  }

  &.warning {
    background-color: $aside-warning-bg;
    color: #111111;

    font-weight: 600;

    a {
      color: #1624cc;
    }
  }

  &.success {
    background-color: $aside-success-bg;
  }
}
