input {

  color: $color-fg;

  &[type="range"] {
    padding: 0;
    margin: 0;
    margin-top: 1em;
    max-width: 42rem;
    flex: 1;
    border: 0;
    height: 3px;
    background-size: 0 100%;
    border-radius: 50%;
    cursor: pointer;
    -webkit-appearance: none;

    &:active,
    &:focus,
      {
      // outline: 0;
      background-color: mix($color-accent, white, 70%);
    }

    &::-webkit-slider-runnable-track {
      box-shadow: none;
      border: 0;
      background: transparent;
      -webkit-appearance: none;
    }

    &::-moz-range-track {
      box-shadow: none;
      border: 0;
      background: transparent;
    }

    &::-moz-focus-outer {
      border: 0;
    }

    &::-webkit-slider-thumb {
      width: 14px;
      height: 14px;
      border: 0;
      background: $color-accent;
      border-radius: 100%;
      box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.1);
      -webkit-appearance: none;
    }

    &::-moz-range-thumb {
      width: 14px;
      height: 14px;
      border: 0;
      background: $color-bg;
      border-radius: 100%;
      box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.1);
    }
  }

  &[type="text"],
  &[type="password"],
  &[type="url"],
  &[type="email"] {
    appearance: none;
    background: transparent;
    border-radius: $border-radius;
    border: solid 2px $color-border;
    color: inherit;
    font-family: $font-family-heading;
    font-weight: $font-weight-heading;
    display: block;
    // outline: 0;
    text-decoration: none;
    padding: 0.25rem;
    margin: 0.25rem;

    &:focus {
      border-color: $color-accent;
      // color: $color-accent;
    }

    &:invalid {
      box-shadow: none;
      border-color: orange;
    }
  }

  &[type="submit"],
  &[type="reset"],
  &[type="button"] {
    padding: 0.25rem;
    margin: 0.25rem;
  }

}


::-webkit-input-placeholder {
  opacity: 1;
  color: $color-fg-light !important;
}

:-moz-placeholder {
  opacity: 1;
  color: $color-fg-light !important;
}

:-ms-input-placeholder {
  opacity: 1;
  color: $color-fg-light !important;
}

select,
textarea {
  color: $color-fg;
}