{{/* */}}
<script type="module">
  {{ $optionsChapterEarly := (dict "targetPath" "js/chapterEarly.js" "minify" true "target" "es2017" "format" "esm" ) }}
  {{ $chapterEarly := resources.Get "src/apps/chapterEarly/chapterEarly.js" | js.Build $optionsChapterEarly }}

  {{ $optionsChapterLate := (dict "targetPath" "js/chapterLate.js" "minify" true "target" "es2017" "format" "esm" ) }}
  {{ $chapterLate := resources.Get "src/apps/chapterLate/chapterLate.js" | js.Build $optionsChapterLate }}

  {{ $optionsIde := (dict "targetPath" "js/ide.js" "minify" true "target" "es2017" "format" "esm" ) }}
  {{ $ide := resources.Get "src/apps/ide/ide.js" | js.Build $optionsIde }}

  import { setupChapterEarly } from "{{ $chapterEarly.RelPermalink | safeJS }}";
  setupChapterEarly();

  window.addEventListener('load', async () => {
    const { setupChapterLate } = await import(
      "{{ $chapterLate.RelPermalink | safeJS }}"
    );
    setupChapterLate();

    {{ if eq .Params.showIDE true }}
    const { setupIDE } = await import(
      "{{ $ide.RelPermalink | safeJS }}"
    );

    const ideConfig = {
      showIDE: {{ .Params.showIDE | default false }},
      IDE: {
        fullScreen: false,
        container: '#ide-wrapper',
        serverDirectory: '{{ .Params.IDEserverDirectory | default "examples" }}',
        stripDirectory: '{{ .Params.IDEStripDirectory | default "views/" }}',
        closedFolders: '{{ delimit ( .Params.IDEClosedFolders | default "") ","}}'
          .replace(/[\s\'\[\]']+/g, '')
          .split(','),
        comparisonMode: '{{ .Params.IDEComparisonMode }}',
        files: '{{ delimit ( .Params.IDEFiles | default "") ", "}}'
          .replace(/[\s\'\[\]']+/g, '')
          .split(','),
        entry: '{{ .Params.IDEEntry | default "index.html" }}',
        activeDocument: '{{ .Params.IDEActiveDocument | default "" }}',
        switchImportsAllowed:
          '{{ .Params.IDESwitchImportsAllow | default true }}',
      },
    }

    await setupIDE(ideConfig);
    {{ end }}
  });
</script>