{{/* */}}

<div id="ide-wrapper" class="panel animate disabled hide" translate="no">
  <nav id="ide-controls-top" class="control-bar fuzzy-background">
    <input
      type="checkbox"
      id="toggle-complete"
      class="ide-toggle simple-toggle"
      title="Show completed code (your changes will be saved)"
      disabled="true"
    />
    <input
      type="checkbox"
      id="toggle-filetree"
      class="hidden-input ide-toggle"
    />
    <label
      for="toggle-filetree"
      class="control-elem"
      title="Toggle Filetree"
    >
      <span class="off-icon">
        {{- partialCached "icons/solid/folder.svg" . -}}
      </span>
      <span class="on-icon">
        {{- partialCached "icons/solid/folder-open.svg" . -}}
      </span>
    </label>
    <button
      type="button"
      id="reset-active-file"
      class="control-elem"
      title="Reset Current File"
      disabled
    >
      {{- partialCached "icons/solid/step-backward.svg" . -}}
    </button>
    <button
      type="button"
      id="reset-all-files"
      class="control-elem"
      title="Reset All Changes"
      disabled
    >
      {{- partialCached "icons/solid/backward.svg" . -}}
    </button>
    <input
      type="checkbox"
      id="toggle-preview"
      class="hidden-input ide-toggle"
    />
    <label
      for="toggle-preview"
      class="control-elem"
      title="Toggle Preview"
    >
      <span class="on-icon">
        {{- partialCached "icons/solid/laptop.svg" . -}}
      </span>
      <span class="off-icon">
        {{- partialCached "icons/regular/window-maximize.svg" . -}}
      </span>
    </label>
    <button
      type="button"
      id="new-window-preview"
      class="control-elem hide"
      title="Open Preview in New Window"
    >
      {{- partialCached "icons/solid/external-link-alt.svg" . -}}
    </button>
  </nav>
  <div id="editor-panel" class="panel animate">
    <section
      id="filetree-panel"
      class="filetree panel animate fuzzy-background"
    >
      <div class="file-control-bar-top control-bar">
        <button
          type="button"
          id="create-file-button"
          class="control-elem"
          title="New File or Folder"
        >
          {{- partialCached "icons/solid/file-medical.svg" . -}}
        </button>
        <button
          type="button"
          id="delete-file-button"
          class="control-elem"
          title="Delete File"
          disabled
        >
        {{- partialCached "icons/solid/trash.svg" . -}}
        </button>
      </div>
      <div id="filetree"></div>
      <div class="file-control-bar-bottom control-bar">
        <button
          type="button"
          id="download-button"
          class="control-elem"
          title="Download as Zip"
        >
          {{- partialCached "icons/solid/download.svg" . -}}
        </button>
        <div class="import-style-select">
          <span>Import Style</span>
          <select
            id="select-import-style"
            class=""
            title="Select Import Style"
            disabled
          >
            <option value="npm" selected="selected">NPM (default)</option>
            <option value="cdn">CDN</option>
          </select>
        </div>
      </div>
    </section>
    <section id="editor" class="panel animate">
      <div class="image-wrapper fuzzy-background">
        <img
          src="data:image/gif;base64,R0lGODlhAQABAAAAACwAAAAAAQABAAA="
          alt="Selected Texture"
          id="image-preview"
        />
      </div>
    </section>
  </div>
  <div id="preview" class="panel animate">
    <div id="preview-overlay"></div>
    <!--
<section id="preview" class="panel animate"></section>
<section id="preview-console" class="panel animate hide">
<h3>Preview Console</h3>
</section>
<nav id="ide-controls-bottom" class="hide">
<input type="checkbox" id="toggle-console" class="hidden-input ide-toggle" />
<label for="toggle-console" class="control-elem" title="Toggle Console">
  <span class="on-icon">
    include 'partials/icons/solid/angle-down.svg'
  </span>
  <span class="off-icon">
    include 'partials/icons/solid/angle-up.svg'
  </span>
</label>
</nav>
-->
  </div>
</div>
