{{/* */}}

<div class="side-menu left-menu">
  <div class="icons">
    <input type="checkbox" id="invert-colors-toggle" class="hidden-input" />
    <label
      for="invert-colors-toggle"
      class="control-elem"
      title="Day/Night Theme"
    >
      <span class="day-icon">
        {{- partialCached "icons/solid/sun.svg" . -}}
      </span>
      <span class="night-icon">
        {{- partialCached "icons/solid/moon.svg" . -}}
      </span>
    </label>

    <input type="checkbox" id="orientation-toggle" class="hidden-input" />
    <label
      for="orientation-toggle"
      class="control-elem hide"
      title="Orientation lock: auto/portrait/landscape"
    >
      <span class="auto-icon hide">
        {{- partialCached "icons/solid/sync.svg" . -}}
      </span>
      <span class="portrait-icon hide">
        {{- partialCached "icons/solid/mobile-alt.svg" . -}}
      </span>
      <span class="landscape-icon">
        {{- partialCached "icons/solid/mobile-alt.svg" . -}}
      </span>
    </label>
  </div>

  <nav class="table-of-contents">
    <h2><a href="/book/">Table of Contents</a></h2>
    <div id="main-toc">
      <div style="color: silver; text-align: right; margin-right: 2rem;">
        Also available in:
          {{ range .Translations }}
          <a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
          {{ end}}
        </div>
      {{- partial "toc.html" . -}}
    </div>
  </nav>
</div>
