{{/*
  Top nav bar on chapter pages
*/}}

<nav class="top-nav">
  <div class="nav-background"></div>

  <div class="icon-group left">
    <input type="checkbox" id="left-menu-toggle" class="hidden-input" />
    <label
      for="left-menu-toggle"
      class="control-elem"
      title="Table Of Contents"
    >
      <span class="open-icon">
        {{- partialCached "icons/solid/book.svg" . -}}
      </span>
      <span class="close-icon">
        {{- partialCached "icons/solid/times.svg" . -}}
      </span>
    </label>

    <input
      type="checkbox"
      id="toggle-ide"
      class="hidden-input ide-toggle"
    />
    <label
      for="toggle-ide"
      class="control-elem ide-control hide"
      title="Show/Hide IDE"
    >
      <span class="on-icon">
        {{- partialCached "icons/solid/toggle-on.svg" . -}}
      </span>
      <span class="off-icon">
        {{- partialCached "icons/solid/toggle-off.svg" . -}}
      </span>
    </label>
  </div>

  <div class="icon-group center">
    {{- partial "pagination.html" . -}}
    </a>
  </div>

  <div class="icon-group right">
    {{- partial "language-switcher.html" . -}}
    <input type="checkbox" id="right-menu-toggle" class="hidden-input" />
    <label for="right-menu-toggle" class="control-elem" title="Main Menu">
      <span class="open-icon">
        {{- partialCached "icons/solid/bars.svg" . -}}
      </span>
      <span class="close-close hide">
        {{- partialCached "icons/solid/times.svg" . -}}
      </span>
    </label>
  </div>
</nav>