header {

  padding: 4rem 1rem 8rem;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 90vw;
    margin: auto;
  }

  img {
    max-width: 55rem;
    width: 90%;
    margin: auto;
  }
}