<!DOCTYPE html>
<html dir="ltr" lang="en">
  <head>
    <title>{{ .Title }} | Discover three.js</title>
    {{- partial "head/meta.html" . -}}
    {{- partial "head/schema.html" . -}}
    {{- partial "head/links.html" . -}}
    <link href="/static/css/jumbo.min.css?v=44" rel="stylesheet" />

    <noscript>
      <style>
        .loading-page {
          display: block;
        }
      </style>
      <link href="/static/css/noscript.min.css?v=44" rel="stylesheet" />
    </noscript>
  </head>

  <body>
    {{- partial "jumbo/nav.html" . -}}
    <div class="wrapper">
      {{- partial "jumbo/header.html" . -}}
      <main>
        <main>
          <section>
            <h1>Page Not Found &nbsp;{{- partial "icons/regular/frown.svg" . -}}</h1>

            <h2>Perhaps you were looking for one of these pages?</h2>

            <nav class="table-of-contents-large">
              {{- partial "toc.html" . -}}
            </nav>
          </section>
        </main>
      </main>
      {{- partial "jumbo/footer.html" . -}}
    </div>
    {{- partial "fonts.html" . -}}
  </body>
</html>
