<!DOCTYPE html>
<html dir="ltr" lang="{{ .Lang }}">
  <head>
    <title>《探索three.js》</title>
    {{- partialCached "head/meta.html" . .Params.noFollow .Params.Title .Params.Description -}}
    {{- partialCached "head/schema.html" . -}}
    {{- partialCached "head/links.html" . .Permalink -}}

    {{ $optionsCSS := (dict "targetPath" "styles/jumbo.css" "outputStyle" "compressed" ) }}
    {{ $style := resources.Get "scss/apps/jumbo/main.scss" | toCSS $optionsCSS | postCSS }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}?v={{ now.Unix }}">

    <noscript>
      {{ $optionsNS := (dict "targetPath" "styles/noscript.css" "outputStyle" "compressed" ) }}
      {{ $style := resources.Get "scss/noscript.scss" | toCSS $optionsNS | postCSS | minify }}
      <link rel="stylesheet" href="{{ $style.RelPermalink }}?v={{ now.Unix }}">
    </noscript>

    {{ $optionsJS := (dict "targetPath" "js/home.js" "minify" true "target" "es2017" "format" "esm" ) }}
    {{ $js := resources.Get "src/apps/home/home.js" | js.Build $optionsJS }}
    <script type="module" src="{{ $js.RelPermalink }}?v={{ now.Unix }}"></script>
  </head>

  <body>
    {{- partialCached "jumbo/nav.html" . -}}
    <div class="wrapper">
      <div
        class="background"
        style="
          background-image: url(/images/overlay.png),
            linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
            url(/images/bg.jpg);
        "
      ></div>

      <div id="hero-container"></div>

      <div id="intro">
        <div class="loading">
          <div class="satellite loader"></div>
        </div>
        <a
          href="#main"
          id="introDownButton"
          class="button intro-scroll-down"
          title="Scroll Down"
          aria-label="Click here to scroll down"
        >
        {{- partialCached "icons/solid/arrow-down.svg" . -}}
        </a>
      </div>
      <header id="header">
        <a href="/"
          ><img
            src="/images/logo/banner_trans.png"
            alt="Discover three.js banner"
        /></a>
      </header>
      <div class="nav-wrapper">
        <nav class="nav">
          {{- partial "mainLinks.html" . -}}
        </nav>
      </div>

      <main id="main">
        <section class="about-the-book">
          <h1>欢迎来到 three.js 的实战手册！</h1>
          <h2>
            《探索three.js》是对web作为3D图形平台的完整介绍，它使用three.js WebGL库，编写自一位核心 three.js 开发人员。
          </h2>
          <p>
            本书是一个完整的教程系列，旨在帮助您在尽可能短的时间内开始创建现代、专业品质的3D Web应用程序。
          </p>
        </section>

        <section>
          <h2 id="mailing-list-signup">
            保持最新 - 在此处输入您的电子邮件
          </h2>

          <form
            method="post"
            action="https://lm.discoverthreejs.com/subscription/form"
            class="email-signup-form"
          >
            <input type="text" name="email" placeholder="电子邮件" />

            <p>
              <input
                id="list-name"
                type="checkbox"
                name="l"
                value="68fa7710-a7ba-4cd7-97a8-d540ad7e127b"
                checked
              />
              <label for="list-name">dtjs-mailing-list</label>
            </p>
            <input type="submit" value="订阅" />
          </form>
        </section>
        <section>
          <h2 class="logo-title">
            <img
              class="logo"
              src="/images/app-logos/forum.png"
              alt="three.js logo"
              title="three.js logo"
              loading="lazy"
            />什么是three.js？
          </h2>

          <h3>
            three.js是世界上最流行的用于在Web上显示3D内容的JavaScript框架。
          </h3>
          <p>
            使用 three.js，您不再需要花哨的游戏PC或控制台来显示逼真的3D图形。
            您甚至不需要下载特殊的应用程序。现在每个人都可以使用智能手机和网络浏览器体验令人惊叹的3D应用程序。
          </p>
          <p style="margin-bottom: 3rem">
            这个惊人的库和充满活力的社区是您在浏览器、笔记本电脑、平板电脑或智能手机上创建游戏、
            音乐视频、科学和数据可视化或几乎任何您能想象的任何东西所需要的一切！
          </p>

          <figure>
            <a
              href="https://threejs.org/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img
                src="/images/threejs_site_screenshot.jpg"
                alt="threejs.org - the homepage of three.js"
                title="threejs.org - the homepage of three.js"
                loading="lazy"
              />
            </a>
          </figure>
        </section>

        <section>
          <h2>书中有什么？</h2>
          <p>
            这本书涵盖了您开始创建可在任何操作系统和设备（从智能手机到笔记本电脑到智能手表）
            上运行的令人惊叹的、专业品质的、高性能的3D Web应用程序所需的一切，
            即使您对Web开发和计算机图形完全陌生。three.js是有史以来最易于访问的计算机图形框架，
            我们将充分利用它来引导您很快的获得高水平的专业知识。
          </p>
          <p>
            在这里，我们介绍了创建基本的three.js应用程序所需的所有基本概念，有了这些知识，
            您将可以立即创建自己的惊人项目。有了三维的力量，唯一的限制就是你的想象力！
          </p>
          <p>
            如果您以前从未创建过JavaScript应用程序，请参阅<a href="/book/appendix/">附录</a>。
            我们为您提供了从<a href="/book/appendix/html-and-css-reference/">HTML, CSS</a>
            和<a href="/book/appendix/javascript-reference/">JavaScript</a>参考章节到
            关于<a href="/book/appendix/javascript-modules/">模块</a>和<a href="/book/appendix/asynchronous-javascript/"
            >异步编码模式</a>的更高级章节等等的所有内容，所有这些都是完全免费的。
          </p>
        </section>

        <section>
          <h2 id="code-examples">实时代码示例</h2>
          <p>
            每章都带有一个实时代码编辑器，它会在您键入时自动更新，具有修改前和修改后视图，
            因此您可以处理文本或向前跳过以查看已完成的代码。您还可以将代码下载为zip文件，
            以便在您自己的计算机上使用。
          </p>

          <div class="editor-video">
            <video
              width="100%"
              autoplay
              loop
              muted="true"
              playsinline
              loading="lazy"
              preload="none"
              title="The live code editor in action"
            >
              <source src="/images/home/editor.mp4" type="video/mp4" />
            </video>
          </div>
        </section>

        <section>
          <h2>清晰的二维示意图</h2>

          <p>
            本书使用数百个原始示意图来演示概念，这些示意图清楚地说明了所要介绍的想法。
          </p>

          <div class="diagrams columns">
            <figure class="column">
              <img
                src="/images/first-steps/perspective_frustum.svg"
                alt="Perspective camera frustum"
                title="Perspective camera frustum"
                loading="lazy"
              />
            </figure>
            <figure class="column">
              <img
                src="/images/first-steps/animation_dancer.jpg"
                alt="Dancing animation, selected frames"
                title="Dancing animation selected frames"
                loading="lazy"
              />
            </figure>
            <figure class="column">
              <img
                src="/images/first-steps/directional_light.svg"
                alt="Directional Lighting"
                title="Directional Lighting"
                loading="lazy"
              />
            </figure>
            <figure class="column">
              <img
                src="/images/first-steps/cylinder_final_rotation.svg"
                alt="Cylinder rotation around Z-axis"
                title="Cylinder rotation around Z-axis"
                loading="lazy"
              />
            </figure>
          </div>
        </section>

        <section>
          <h2 style="margin-bottom: 2rem">目录</h2>
          <p>
            本书的主要章节采用<strong>免费教程系列</strong>的形式，
            连同<a href="/book/introduction/">引言</a>和<a href="/book/appendix">附录</a>，
            介绍了开始探索3D Web图形所需的所有重要概念和术语。此处涵盖了您需要了解的所有内容，
            包括动画、照明、相机控制、逼真的材质和纹理等等。
          </p>
          <h3 style="text-align: center; border: 0; margin: 0 auto 2rem">
            你还在等什么？深入了解《探索three.js》提供的内容，完全免费！
          </h3>

          <nav class="table-of-contents-large">
            <div style="text-align: right; margin-right: 2rem;">
              Also available in:
                {{ range .Translations }}
                <a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
                {{ end}}
              </div>
            {{- partial "toc.html" . -}}
          </nav>
        </section>

        <section>
          <h2>three.js技巧和窍门的大清单</h2>
          <p>
            <a href="/tips-and-tricks/"
              >单击此处获取有关使用three.js的提示、技巧、警告、陷阱和性能建议的大清单，初学者和专家都适用。</a
            >
            在处理任何大小的three.js应用程序时保持此页面打开以备不时之需。
          </p>
        </section>

        <section>
          <h2>关于作者</h2>
          <div class="columns">
            <div class="column">
              <img
                src="/images/about/portrait-color.jpg"
                class="portrait big"
                alt="Portrait of the author"
                title="Portrait of the author"
                loading="lazy"
              />
            </div>
            <div class="column">
              <p style="text-align: justify">
                <a
                  href="https://twitter.com/lewy_blue"
                  target="_blank"
                  rel="noopener noreferrer"
                  >Lewy Blue（路易·布鲁）</a
                >
                曾是一名高跷步行者和火舞者，但他认为数学将会有一个更加光明的未来。
              </p>
              <p style="text-align: justify">
                他的完美生活理念是背着背包和笔记本电脑环游世界。目前，他正在越南的某个地方实现这个梦想。
              </p>
              <p style="text-align: justify">
                他是<a
                href="https://github.com/mrdoob/three.js/graphs/contributors"
                target="_blank"
                rel="noopener noreferrer"
                >three.js 开源项目</a
              >的主要贡献者之一 ，专注于文档编写和与第三方应用程序的互操作性，
                尤其是Autodesk、Blender和Lightwave 3D。他是官方<a
                href="https://discourse.threejs.org/"
                target="_blank"
                rel="noopener noreferrer"
                >three.js 论坛</a
              >的管理员。
              </p>
            </div>
          </div>
        </section>
      </main>
      {{- partialCached "jumbo/footer.html" . -}}
    </div>
    {{- partialCached "fonts.html" . -}}
  </body>
</html>
