body {
  color: $color-text;

  transition: color 0.6s ease-in-out;

  .day-icon {
    display: inline-block;
  }

  .night-icon {
    display: none;
  }

  &.invert-colors {
    color: $color-text-inverted;

    .day-icon {
      display: none;
    }

    .night-icon {
      display: inline-block;
    }

    a {
      color: $color-accent;
      &:hover,
      &:focus {
        color: $color-link;
      }
    }

    main {
      background-color: $color-bg-inverted;
      transition: background-color 0.6s ease-in-out;
    }

    figure,
    aside,
    .inline-scene {
      transition: box-shadow 0.6s ease-in-out;
      box-shadow: none;
    }

    figure {
      background: rgba(255, 255, 255, 0.8);
    }

    .nav-background {
      border-bottom: 1px solid #363636;
      background-color: black;
    }

    aside {
      color: black;

      a {
        color: $color-notice-link-inverted;

        &:hover,
        &:focus {
          color: $color-accent;
        }
      }

      &.notice {
        background-color: $color-notice-bg-inverted;

        a {
          color: $color-notice-fg-inverted;

          &:hover,
          &:focus {
            color: $color-accent;
          }
        }
      }

      &.warning {
        background-color: $color-warning-bg-inverted;
        // color: inherit;

        a {
          color: $color-warning-link-inverted;
          &:hover,
          &:focus {
            color: silver;
          }
        }
      }

      &.success {
        background-color: $color-success-bg-inverted;
      }
    }

    .inline-scene {
      // transition: border 0.6s ease-in-out;
      border: 6px solid #222;
    }

    .gutter {
      border: 1px solid #000;
      background-color: #4b4b4b;
    }

    .table-of-contents-large {
      box-shadow: none;
    }

    .fade-summary {
      background: linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(33, 41, 49) 100%
      );
    }

    .chapter-info {
      color: #999;
    }
  }

  .bottom-pagination {
    a {
      color: $color-accent;

      &:hover,
      &:focus {
        .icon {
          color: $color-link;
        }
      }
    }
  }
  // end inverted
}
