<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

<meta name="HandheldFriendly" content="True" />
<meta name="MobileOptimized" content="320" />

<meta name="viewport" content="width=device-width, initial-scale=1" />

<meta name="ROBOTS" content="INDEX, FOLLOW" />

<meta name="application-name" content="Discover three.js" />

<meta itemprop="name" content="Discover three.js" />

<meta property="og:title" content="How to Use This Book | Discover three.js" />
<meta name="twitter:title" content="How to Use This Book | Discover three.js" />

<meta name="description" content="{{ .Description }}" />
<meta property="og:description" content="{{ .Description }}" />
<meta name="twitter:description" content="{{ .Description }}" />

<meta
  itemprop="keywords"
  content="threejs webgl opengl fbx gltf khronos webvr vr webdev design cg graphics animation javascript esnext es6 education tutorials blog ebook node npm"
/>

<meta property="og:site_name" content="Discover three.js" />
<meta property="og:type" content="book" />
<meta property="og:url" content="https://discoverthreejs.com/" />
<meta
  property="og:image"
  content="https://discoverthreejs.com/static/images/logo.png"
/>
<meta
  property="twitter:image"
  content="https://discoverthreejs.com/static/images/logo.png"
/>
<meta name="twitter:creator" content="@lewy_blue" />
<meta name="twitter:site" content="@lewy_blue" />
<meta name="twitter:card" content="TODO" />
<meta name="twitter:image:width" content="1024" />
<meta name="twitter:image:height" content="1024" />

<meta name="theme-color" content="#FFFFFF" />
<meta name="msapplication-TileColor" content="#00aba9" />
<meta name="msapplication-TileImage" content="/mstile-150x150.png?v=43" />