{{/*
  Standard footer used on Jumbo pages
*/}}

<footer>
  <ul>
    <li>
      <a
        href="https://twitter.com/lewy_blue/"
        aria-label="My Twitter Profile"
        title="My Twitter Profile"
        target="_blank"
        rel="noopener noreferrer"
      >
        {{- partialCached "icons/brands/twitter.svg" . -}}
      </a>
    </li>
    <li>
      <a
        href="https://discourse.threejs.org/u/looeee/"
        aria-label="The three.js Forum"
        title="The three.js Forum"
        target="_blank"
        rel="noopener noreferrer"
      >
        {{- partialCached "icons/brands/discourse.svg" . -}}
      </a>
    </li>
    <li>
      <a
        href="https://www.linkedin.com/in/lewy-blue-30b9b193/"
        aria-label="My LinkedIn Profile"
        title="My LinkedIn Profile"
        target="_blank"
        rel="noopener noreferrer"
      >
        {{- partialCached "icons/brands/linkedin.svg" . -}}
      </a>
    </li>
    <li>
      <a
        href="https://github.com/looeee/"
        aria-label="My GitHub Profile"
        title="My GitHub Profile"
        target="_blank"
        rel="noopener noreferrer"
      >
        {{- partialCached "icons/brands/github.svg" . -}}
      </a>
    </li>
    <li>
      <a
        href="https://www.instagram.com/discover_threejs/"
        aria-label="Discover three.js on Instagram"
        title="Discover three.js on Instagram"
        target="_blank"
        rel="noopener noreferrer"
      >
        {{- partialCached "icons/brands/instagram.svg" . -}}
      </a>
    </li>
    <li>
      <a
        href="https://www.facebook.com/discoverthreejs"
        aria-label="Discover three.js on Facebook"
        title="Discover three.js on Facebook"
        target="_blank"
        rel="noopener noreferrer"
      >
        {{- partialCached "icons/brands/facebook.svg" . -}}
      </a>
    </li>
  </ul>
  <br />
  <ul>
    <li><a href="/">&copy; DISCOVER three.js</a></li>
    <li><a href="/terms/">TERMS</a></li>
    <li><a href="/privacy/">PRIVACY</a></li>
    <li><a href="/contact/">CONTACT</a></li>
  </ul>
</footer>