{{/*
  Responsive nav bar used on Jumbo pages
*/}}

<input
type="checkbox"
id="nav-panel-right-trigger"
class="nav-panel-trigger"
/>
<label
for="nav-panel-right-trigger"
class="button-menu small-screen-only nav-panel-right-trigger-label home-nav"
>
<span class="close-icon">
  {{- partialCached "icons/solid/times.svg" . -}}
</span>
<span class="open-icon">
  {{- partialCached "icons/solid/bars.svg" . -}}
</span>
Menu
</label>

<nav class="nav-panel nav-right">
  <h2 style="border: none"><a href="/">Discover three.js</a></h2>
  {{- partial "mainLinks.html" . -}}
</nav>