#hero-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% + 24rem);
  z-index: -1;
}

#intro {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;

  /*
  NB: This allows google to render the whole page,
  otherwise "render as google just shows a huge loading screen
  */
  max-height: 2000px;

  user-select: none;
  transition: opacity 1s ease, transform 1s ease;
  text-align: center;
  pointer-events: none;
  justify-content: flex-end;
  align-items: center;

  > canvas {
    pointer-events: all;
  }

  #introScrollIcon {
    pointer-events: all;
    color: $color-bg;
    border-color: $color-bg;
    margin-bottom: 2rem;
    box-shadow: inset 0 0 0 2px $color-bg;
    font-size: 3em;
    font-weight: bolder;

    transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;

    &:hover,
    &:focus {
      color: $color-accent;
      border-color: $color-accent;
      box-shadow: inset 0 0 0 2px $color-accent;
    }

    // at least on android the bottom UI buttons
    //overlay the bottom of the page causing the
    //button to be partially hidden without this fix
    @media (max-width: 736px) and (orientation: portrait) {
      margin-bottom: 3rem;
    }

    @media (max-height: 736px) and (orientation: landscape) {
      margin-bottom: 0.5rem;

      &.intro-scroll-down {
        width: 3.5rem;
        height: 3.5rem;
      }
    }
  }
}
