{{- $src := .Get "src" -}}
{{- $caption := .Get "caption" | default "" -}}
{{- $alt := .Get "alt" | default $caption -}}
{{- $title := .Get "title" | default $alt -}}
{{- $class := .Get "class" | default "" -}}
{{- $height := .Get "height" | default "" -}}

<figure {{ if ne $class "" }}class="{{ $class }}"{{ end }}>
  <img src="/static/images/{{$src}}" loading="lazy" alt="{{$alt}}" title="{{ $title }}" {{ if ne $height "" }}style="height: {{ $height }};"{{ end }} />
  {{- if ne $caption "" }}
    <figcaption>
      {{- $caption | markdownify -}}
    </figcaption>
  {{- end -}}
</figure>